<footer class="site-footer clearfix">
  <div class="footer-social">
    <ul class="footer-social-links">
      <li>
        <a href="https://www.linkedin.com/in/oscar-andres-gil" target="_blank">Linkedin</a>
      </li>
      <li>
        <a href="https://www.instagram.com/oscar.andres16/" target="_blank">Instagram</a>
      </li>
    </ul>
  </div>

  <div class="footer-copyrights">
    <p>© Dev. Oscar Andrés</p>
  </div>
</footer>
