<div id="main" class="site-main">
  <div id="main-content" class="single-page-content">
    <div id="primary" class="content-area">
      <div class="page-title">
        <h1>Contacto</h1>
        <div class="page-subtitle">
          <h4>Hablemos!</h4>
        </div>
      </div>

      <div
        id="content"
        class="page-content site-content single-post"
        role="main"
      >
        <article
          id="post-187"
          class="post-187 page type-page status-publish hentry"
        >
          <div class="entry-content">
            <div class="fw-page-builder-content">
              <section class="fw-main-row">
                <div class="fw-container">
                  <!-- <div class="row">
                    <div class="col-xs-12 col-sm-12">
                      <div
                        id="col_inner_46d9c8ad628b9795e60e3b893e0f3fd4"
                        class="fw-col-inner"
                        data-paddings="0px 0px 0px 0px"
                      >
                        <div class="lmpixels-map">
                          <iframe
                            frameborder="0"
                            scrolling="no"
                            marginheight="0"
                            marginwidth="0"
                            src="https://maps.google.com/maps?q=San%20Francisco%2C%20S601%20Townsend%20Street%2C%20California%2C%20USA&amp;t=m&amp;z=16&amp;output=embed&amp;iwloc=near"
                            title="San Francisco, S601 Townsend Street, California, USA"
                            aria-label="San Francisco, S601 Townsend Street, California, USA"
                          ></iframe>
                        </div>
                      </div>
                    </div>
                  </div> -->

                  <div class="row">
                    <div class="col-xs-12 col-sm-4">
                      <div
                        id="col_inner_7311a7394317832c0b256771fd211c13"
                        class="fw-col-inner"
                        data-paddings="0px 0px 0px 0px"
                      >
                        <div
                          id="info-list-62eaeff288b3b"
                          class="info-list-w-icon"
                        >
                          <div class="info-block-w-icon">
                            <div class="ci-icon">
                              <i class="linecons linecons-phone"></i>
                            </div>
                            <div class="ci-text">
                              <a href="tel:+57322638359">
                                <h4>+57 322 638 359</h4>
                              </a>
                              <p>
                                Duis erat leo, aliquam laoreet fringilla quis,
                                pretium vitae dui.
                              </p>
                            </div>
                          </div>
                          <div class="info-block-w-icon">
                            <div class="ci-icon">
                              <i class="linecons linecons-location"></i>
                            </div>
                            <div class="ci-text">
                              <h4>Bucaramanga - Colombia</h4>
                              <p>
                                Duis erat leo, aliquam laoreet fringilla quis,
                                pretium vitae dui.
                              </p>
                            </div>
                          </div>
                          <div class="info-block-w-icon">
                            <div class="ci-icon">
                              <i class="linecons linecons-mail"></i>
                            </div>
                            <div class="ci-text">
                              <a href="mailto:osangil16@gmail.com">
                                <h4>osangil16@gmail.com</h4>
                              </a>
                              <p>
                                Duis erat leo, aliquam laoreet fringilla quis,
                                pretium vitae dui.
                              </p>
                            </div>
                          </div>
                        </div>

                        <div
                          class="fw-divider-space"
                          style="padding-top: 20px"
                        ></div>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-8">
                      <div
                        id="col_inner_b9986d93abfbd322e79534dd003c0cb6"
                        class="fw-col-inner"
                        data-paddings="0px 0px 0px 0px"
                      >
                        <div class="block-title">
                          <h2>¿Cómo puedo ayudarte?</h2>
                        </div>

                        <form
                          *ngIf="contactForm"
                          [formGroup]="contactForm"
                          class="contact-form"
                        >
                          <div class="messages"></div>

                          <div class="controls two-columns">
                            <div class="fields clearfix">
                              <div class="left-column">
                                <div class="form-group form-group-with-icon">
                                  <input
                                    formControlName="fullName"
                                    type="text"
                                    name="name"
                                    class="form-control"
                                    placeholder="Nombre completo"
                                    required="required"
                                  />
                                  <div class="form-control-border"></div>
                                  <div
                                    *ngIf="
                                      contactForm.controls['fullName']
                                        .touched &&
                                      contactForm.controls['fullName'].hasError(
                                        'required'
                                      )
                                    "
                                    class="help-block with-errors"
                                  >
                                    Nombre es requerido
                                  </div>
                                </div>

                                <div class="form-group form-group-with-icon">
                                  <input
                                    formControlName="email"
                                    type="email"
                                    name="email"
                                    class="form-control"
                                    placeholder="Email"
                                    required="required"
                                  />
                                  <div class="form-control-border"></div>
                                  <div
                                    *ngIf="
                                      contactForm.controls['email'].touched &&
                                      contactForm.controls['email'].hasError(
                                        'required'
                                      )
                                    "
                                    class="help-block with-errors"
                                  >
                                    Email valido requerido
                                  </div>
                                </div>

                                <div class="form-group form-group-with-icon">
                                  <input
                                    formControlName="subject"
                                    type="text"
                                    name="subject"
                                    class="form-control"
                                    placeholder="Motivo"
                                    required="required"
                                    data-error="Motivo es requerido"
                                  />
                                  <div class="form-control-border"></div>
                                  <div
                                    *ngIf="
                                      contactForm.controls['subject'].touched &&
                                      contactForm.controls['subject'].hasError(
                                        'required'
                                      )
                                    "
                                    class="help-block with-errors"
                                  >
                                    Motivo es requerido
                                  </div>
                                </div>
                              </div>
                              <div class="right-column">
                                <div class="form-group form-group-with-icon">
                                  <textarea
                                    formControlName="message"
                                    name="message"
                                    class="form-control"
                                    placeholder="Mensaje"
                                    rows="7"
                                    required="required"
                                  ></textarea>
                                  <div class="form-control-border"></div>
                                  <div
                                    *ngIf="
                                      contactForm.controls['message'].touched &&
                                      contactForm.controls['message'].hasError(
                                        'required'
                                      )
                                    "
                                    class="help-block with-errors"
                                  >
                                    Por favor, deje un mensaje
                                  </div>
                                </div>
                              </div>
                            </div>
                            <input
                              type="submit"
                              class="button btn-send"
                              value="Send message"
                              (click)="sendContactForm()"
                            />
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <!-- .entry-content -->
        </article>
        <!-- #post-## -->
      </div>
      <!-- #content -->
    </div>
    <!-- #primary -->
  </div>
  <!-- #main-content -->
</div>
