<div class="lm-animated-bg"></div>
<div class="page-scroll">
  <div
    id="page_container"
    class="page-container bg-move-effect theme-style-dark"
    data-animation="transition-flip-in-right"
  >
    <app-menu></app-menu>
    <app-preloader></app-preloader>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</div>
