<div id="main" class="site-main">
  <div id="main-content" class="single-page-content">
    <div id="primary" class="content-area">
      <div class="page-title">
        <h1>Blog 3 Columns</h1>
      </div>

      <div
        id="content"
        class="page-content site-content single-post"
        role="main"
      >
        <article
          id="post-86"
          class="post-86 page type-page status-publish hentry"
        >
          <div class="entry-content">
            <div class="fw-page-builder-content">
              <section class="fw-main-row">
                <div class="fw-container">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12">
                      <div
                        id="col_inner_a06e4572186ac729ff4f3d024f16dcab"
                        class="fw-col-inner"
                        data-paddings="0px 0px 0px 0px"
                      >
                        <div
                          class="fw-divider-space"
                          style="padding-top: 7px"
                        ></div>

                        <div class="blog-masonry three-columns clearfix">
                          <!-- Blog Post 139 -->
                          <div class="item post-139">
                            <div class="blog-card">
                              <div class="media-block">
                                <div class="category">
                                  <a
                                    href="../category/wordpress/index.html"
                                    title="View all posts in WordPress"
                                    >WordPress</a
                                  >
                                </div>
                                <a
                                  href="../2019/12/04/how-to-make-a-wordpress-plugin-extensible/index.html"
                                >
                                  <img
                                    width="1920"
                                    height="900"
                                    src="../wp-content/uploads/sites/4/2019/12/blog_post_2_full.jpg"
                                    class="attachment-blog-masonry-image-three-c size-blog-masonry-image-three-c wp-post-image"
                                    alt="How to Make a WordPress Plugin Extensible"
                                    title=""
                                    srcset="
                                      https://lmpixels.com/wp/leven-wp/dark/wp-content/uploads/sites/4/2019/12/blog_post_2_full.jpg          1920w,
                                      https://lmpixels.com/wp/leven-wp/dark/wp-content/uploads/sites/4/2019/12/blog_post_2_full-300x141.jpg   300w,
                                      https://lmpixels.com/wp/leven-wp/dark/wp-content/uploads/sites/4/2019/12/blog_post_2_full-1024x480.jpg 1024w,
                                      https://lmpixels.com/wp/leven-wp/dark/wp-content/uploads/sites/4/2019/12/blog_post_2_full-768x360.jpg   768w,
                                      https://lmpixels.com/wp/leven-wp/dark/wp-content/uploads/sites/4/2019/12/blog_post_2_full-1536x720.jpg 1536w
                                    "
                                    sizes="(max-width: 768px) 92vw, (max-width: 992px) 450px, (max-width: 1200px) 597px, 25vw"
                                  />
                                  <div class="mask"></div>
                                </a>
                              </div>
                              <div class="post-info">
                                <div class="post-date">04 Dec 2019</div>
                                <a
                                  href="../2019/12/04/how-to-make-a-wordpress-plugin-extensible/index.html"
                                  ><h4 class="blog-item-title">
                                    How to Make a WordPress Plugin Extensible
                                  </h4></a
                                >
                              </div>
                            </div>
                          </div>
                          <!-- End of Blog Post 139 -->
                          <!-- Blog Post 136 -->
                          <div class="item post-136">
                            <div class="blog-card">
                              <div class="media-block">
                                <div class="category">
                                  <a
                                    href="../category/design/index.html"
                                    title="View all posts in Design"
                                    >Design</a
                                  >
                                </div>
                                <a
                                  href="../2019/12/04/6-easy-steps-to-better-icon-design/index.html"
                                >
                                  <img
                                    width="1920"
                                    height="900"
                                    src="../wp-content/uploads/sites/4/2019/12/blog_post_6_full.jpg"
                                    class="attachment-blog-masonry-image-three-c size-blog-masonry-image-three-c wp-post-image"
                                    alt="6 Easy Steps to Better Icon Design"
                                    loading="lazy"
                                    title=""
                                    srcset="
                                      https://lmpixels.com/wp/leven-wp/dark/wp-content/uploads/sites/4/2019/12/blog_post_6_full.jpg          1920w,
                                      https://lmpixels.com/wp/leven-wp/dark/wp-content/uploads/sites/4/2019/12/blog_post_6_full-300x141.jpg   300w,
                                      https://lmpixels.com/wp/leven-wp/dark/wp-content/uploads/sites/4/2019/12/blog_post_6_full-1024x480.jpg 1024w,
                                      https://lmpixels.com/wp/leven-wp/dark/wp-content/uploads/sites/4/2019/12/blog_post_6_full-768x360.jpg   768w,
                                      https://lmpixels.com/wp/leven-wp/dark/wp-content/uploads/sites/4/2019/12/blog_post_6_full-1536x720.jpg 1536w
                                    "
                                    sizes="(max-width: 768px) 92vw, (max-width: 992px) 450px, (max-width: 1200px) 597px, 25vw"
                                  />
                                  <div class="mask"></div>
                                </a>
                              </div>
                              <div class="post-info">
                                <div class="post-date">04 Dec 2019</div>
                                <a
                                  href="../2019/12/04/6-easy-steps-to-better-icon-design/index.html"
                                  ><h4 class="blog-item-title">
                                    6 Easy Steps to Better Icon Design
                                  </h4></a
                                >
                              </div>
                            </div>
                          </div>
                          <!-- End of Blog Post 136 -->
                          <!-- Blog Post 133 -->
                          <div class="item post-133">
                            <div class="blog-card">
                              <div class="media-block">
                                <div class="category">
                                  <a
                                    href="../category/ui/index.html"
                                    title="View all posts in UI"
                                    >UI</a
                                  >
                                </div>
                                <a
                                  href="../2019/12/04/creative-and-innovative-navigation-designs/index.html"
                                >
                                  <img
                                    width="1920"
                                    height="900"
                                    src="../wp-content/uploads/sites/4/2019/12/blog_post_7_full.jpg"
                                    class="attachment-blog-masonry-image-three-c size-blog-masonry-image-three-c wp-post-image"
                                    alt="Creative and Innovative Navigation Designs"
                                    loading="lazy"
                                    title=""
                                    srcset="
                                      https://lmpixels.com/wp/leven-wp/dark/wp-content/uploads/sites/4/2019/12/blog_post_7_full.jpg          1920w,
                                      https://lmpixels.com/wp/leven-wp/dark/wp-content/uploads/sites/4/2019/12/blog_post_7_full-300x141.jpg   300w,
                                      https://lmpixels.com/wp/leven-wp/dark/wp-content/uploads/sites/4/2019/12/blog_post_7_full-1024x480.jpg 1024w,
                                      https://lmpixels.com/wp/leven-wp/dark/wp-content/uploads/sites/4/2019/12/blog_post_7_full-768x360.jpg   768w,
                                      https://lmpixels.com/wp/leven-wp/dark/wp-content/uploads/sites/4/2019/12/blog_post_7_full-1536x720.jpg 1536w
                                    "
                                    sizes="(max-width: 768px) 92vw, (max-width: 992px) 450px, (max-width: 1200px) 597px, 25vw"
                                  />
                                  <div class="mask"></div>
                                </a>
                              </div>
                              <div class="post-info">
                                <div class="post-date">04 Dec 2019</div>
                                <a
                                  href="../2019/12/04/creative-and-innovative-navigation-designs/index.html"
                                  ><h4 class="blog-item-title">
                                    Creative and Innovative Navigation Designs
                                  </h4></a
                                >
                              </div>
                            </div>
                          </div>
                          <!-- End of Blog Post 133 -->
                          <!-- Blog Post 123 -->
                          <div class="item post-123">
                            <div class="blog-card">
                              <div class="media-block">
                                <div class="category">
                                  <a
                                    href="../category/design/index.html"
                                    title="View all posts in Design"
                                    >Design</a
                                  >
                                </div>
                                <a
                                  href="../2019/12/04/why-i-switched-to-sketch-for-ui-design/index.html"
                                >
                                  <img
                                    width="1920"
                                    height="900"
                                    src="../wp-content/uploads/sites/4/2019/12/blog_post_5_full.jpg"
                                    class="attachment-blog-masonry-image-three-c size-blog-masonry-image-three-c wp-post-image"
                                    alt="Why I Switched to Sketch For UI Design"
                                    loading="lazy"
                                    title=""
                                    srcset="
                                      https://lmpixels.com/wp/leven-wp/dark/wp-content/uploads/sites/4/2019/12/blog_post_5_full.jpg          1920w,
                                      https://lmpixels.com/wp/leven-wp/dark/wp-content/uploads/sites/4/2019/12/blog_post_5_full-300x141.jpg   300w,
                                      https://lmpixels.com/wp/leven-wp/dark/wp-content/uploads/sites/4/2019/12/blog_post_5_full-1024x480.jpg 1024w,
                                      https://lmpixels.com/wp/leven-wp/dark/wp-content/uploads/sites/4/2019/12/blog_post_5_full-768x360.jpg   768w,
                                      https://lmpixels.com/wp/leven-wp/dark/wp-content/uploads/sites/4/2019/12/blog_post_5_full-1536x720.jpg 1536w
                                    "
                                    sizes="(max-width: 768px) 92vw, (max-width: 992px) 450px, (max-width: 1200px) 597px, 25vw"
                                  />
                                  <div class="mask"></div>
                                </a>
                              </div>
                              <div class="post-info">
                                <div class="post-date">04 Dec 2019</div>
                                <a
                                  href="../2019/12/04/why-i-switched-to-sketch-for-ui-design/index.html"
                                  ><h4 class="blog-item-title">
                                    Why I Switched to Sketch For UI Design
                                  </h4></a
                                >
                              </div>
                            </div>
                          </div>
                          <!-- End of Blog Post 123 -->
                          <!-- Blog Post 120 -->
                          <div class="item post-120">
                            <div class="blog-card">
                              <div class="media-block">
                                <div class="category">
                                  <a
                                    href="../category/e-commerce/index.html"
                                    title="View all posts in E-Commerce"
                                    >E-Commerce</a
                                  >
                                </div>
                                <a
                                  href="../2019/12/04/an-overview-of-e-commerce-platforms/index.html"
                                >
                                  <img
                                    width="1920"
                                    height="900"
                                    src="../wp-content/uploads/sites/4/2019/12/blog_post_4_full.jpg"
                                    class="attachment-blog-masonry-image-three-c size-blog-masonry-image-three-c wp-post-image"
                                    alt="An Overview of E-Commerce Platforms"
                                    loading="lazy"
                                    title=""
                                    srcset="
                                      https://lmpixels.com/wp/leven-wp/dark/wp-content/uploads/sites/4/2019/12/blog_post_4_full.jpg          1920w,
                                      https://lmpixels.com/wp/leven-wp/dark/wp-content/uploads/sites/4/2019/12/blog_post_4_full-300x141.jpg   300w,
                                      https://lmpixels.com/wp/leven-wp/dark/wp-content/uploads/sites/4/2019/12/blog_post_4_full-1024x480.jpg 1024w,
                                      https://lmpixels.com/wp/leven-wp/dark/wp-content/uploads/sites/4/2019/12/blog_post_4_full-768x360.jpg   768w,
                                      https://lmpixels.com/wp/leven-wp/dark/wp-content/uploads/sites/4/2019/12/blog_post_4_full-1536x720.jpg 1536w
                                    "
                                    sizes="(max-width: 768px) 92vw, (max-width: 992px) 450px, (max-width: 1200px) 597px, 25vw"
                                  />
                                  <div class="mask"></div>
                                </a>
                              </div>
                              <div class="post-info">
                                <div class="post-date">04 Dec 2019</div>
                                <a
                                  href="../2019/12/04/an-overview-of-e-commerce-platforms/index.html"
                                  ><h4 class="blog-item-title">
                                    An Overview of E-Commerce Platforms
                                  </h4></a
                                >
                              </div>
                            </div>
                          </div>
                          <!-- End of Blog Post 120 -->
                          <!-- Blog Post 114 -->
                          <div class="item post-114">
                            <div class="blog-card">
                              <div class="media-block">
                                <div class="category">
                                  <a
                                    href="../category/e-commerce/index.html"
                                    title="View all posts in E-Commerce"
                                    >E-Commerce</a
                                  >
                                </div>
                                <a
                                  href="../2019/12/04/designing-the-perfect-feature-comparison-table/index.html"
                                >
                                  <img
                                    width="1920"
                                    height="900"
                                    src="../wp-content/uploads/sites/4/2019/12/blog_post_3_full.jpg"
                                    class="attachment-blog-masonry-image-three-c size-blog-masonry-image-three-c wp-post-image"
                                    alt="Designing the Perfect Feature Comparison Table"
                                    loading="lazy"
                                    title=""
                                    srcset="
                                      https://lmpixels.com/wp/leven-wp/dark/wp-content/uploads/sites/4/2019/12/blog_post_3_full.jpg          1920w,
                                      https://lmpixels.com/wp/leven-wp/dark/wp-content/uploads/sites/4/2019/12/blog_post_3_full-300x141.jpg   300w,
                                      https://lmpixels.com/wp/leven-wp/dark/wp-content/uploads/sites/4/2019/12/blog_post_3_full-1024x480.jpg 1024w,
                                      https://lmpixels.com/wp/leven-wp/dark/wp-content/uploads/sites/4/2019/12/blog_post_3_full-768x360.jpg   768w,
                                      https://lmpixels.com/wp/leven-wp/dark/wp-content/uploads/sites/4/2019/12/blog_post_3_full-1536x720.jpg 1536w
                                    "
                                    sizes="(max-width: 768px) 92vw, (max-width: 992px) 450px, (max-width: 1200px) 597px, 25vw"
                                  />
                                  <div class="mask"></div>
                                </a>
                              </div>
                              <div class="post-info">
                                <div class="post-date">04 Dec 2019</div>
                                <a
                                  href="../2019/12/04/designing-the-perfect-feature-comparison-table/index.html"
                                  ><h4 class="blog-item-title">
                                    Designing the Perfect Feature Comparison
                                    Table
                                  </h4></a
                                >
                              </div>
                            </div>
                          </div>
                          <!-- End of Blog Post 114 -->
                        </div>

                        <a class="btn btn-primary" href="../blog/index.html"
                          >See All Posts</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <!-- .entry-content -->
        </article>
        <!-- #post-## -->
      </div>
      <!-- #content -->
    </div>
    <!-- #primary -->
  </div>
  <!-- #main-content -->
</div>
