<div id="main" class="site-main">
  <div id="main-content" class="single-page-content">
    <div id="primary" class="content-area">
      <div
        id="content"
        class="page-content site-content single-post"
        role="main"
      >
        <article
          id="post-157"
          class="post-157 page type-page status-publish hentry"
        >
          <div class="entry-content">
            <div class="fw-page-builder-content">
              <section class="fw-main-row">
                <div class="fw-container">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12">
                      <div
                        id="col_inner_877489360620b3037fc9b064f63a7372"
                        class="fw-col-inner"
                        data-paddings="15px 0px 15px 0px"
                      >
                        <div
                          id="home_content_954218bfd87cb3b458721f4a70135965"
                          class="home-content"
                        >
                          <div class="row flex-v-align">
                            <div class="col-sm-12 col-md-5 col-lg-5">
                              <div class="home-photo">
                                <div class="hp-inner"></div>
                              </div>
                            </div>

                            <div class="col-sm-12 col-md-7 col-lg-7">
                              <div class="home-text hp-left">
                                <div class="owl-carousel text-rotation">
                                  <div class="item">
                                    <h4>Desarrollador frontend</h4>
                                  </div>
                                  <div class="item">
                                    <h4>Desarrollador web</h4>
                                  </div>
                                </div>
                                <h1>Oscar Andrés</h1>
                                <p>
                                  Estudiante de último semestre de Ingeniería de
                                  Sistemas de la Universidad Industrial de
                                  Santander, creativo, responsable, autocritico,
                                  capacidad de resolver conflictos y problemas,
                                  con afinidad por el desarrollo de software,
                                  tanto en la creación de aplicaciones de
                                  escritorios, sitios web y desarrollo de
                                  aplicativos móviles.
                                </p>
                                <div class="home-buttons">
                                  <a
                                    download
                                    href="../../../assets/pdf/CurriculumVitae.pdf"
                                    target="_blank"
                                    class="btn btn-primary"
                                  >
                                    Descargar CV </a
                                  >&nbsp;
                                  <a
                                    routerLink="/contact"
                                    class="btn btn-secondary"
                                  >
                                    Contactar
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-sm-12">
                      <div
                        id="col_inner_c2094ed9c996102f2ef70b6125c4fbf5"
                        class="fw-col-inner"
                        data-paddings="0px 0px 0px 0px"
                      >
                        <div
                          class="fw-divider-space"
                          style="padding-top: 50px"
                        ></div>

                        <div class="block-title">
                          <h2>Que puedo hacer</h2>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-sm-6">
                      <div
                        id="col_inner_3fa94961ec32117c71b91b80d4565769"
                        class="fw-col-inner"
                        data-paddings="0px 0px 0px 0px"
                      >
                        <div
                          id="info-list-62eaefe71d652"
                          class="info-list-w-icon"
                        >
                          <div class="info-block-w-icon">
                            <div class="ci-icon">
                              <i class="linecons linecons-pen"></i>
                            </div>
                            <div class="ci-text">
                              <h4>Copywrite</h4>
                              <p>
                                Mauris neque libero, aliquet vel mollis nec,
                                euismod sed tellus. Mauris convallis dictum elit
                                id volutpat. Vivamus blandit, dolor vitae
                                lacinia maximus, risus velit vehicula odio, a
                                tincidunt turpis turpis tempus ex.
                              </p>
                            </div>
                          </div>
                          <div class="info-block-w-icon">
                            <div class="ci-icon">
                              <i class="linecons linecons-display"></i>
                            </div>
                            <div class="ci-text">
                              <h4>Web Design</h4>
                              <p>
                                Mauris neque libero, aliquet vel mollis nec,
                                euismod sed tellus. Mauris convallis dictum elit
                                id volutpat. Vivamus blandit, dolor vitae
                                lacinia maximus, risus velit vehicula odio, a
                                tincidunt turpis turpis tempus ex.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                      <div
                        id="col_inner_931ccceee4bc772acc2735fc06fc1c62"
                        class="fw-col-inner"
                        data-paddings="0px 0px 0px 0px"
                      >
                        <div
                          id="info-list-62eaefe71d765"
                          class="info-list-w-icon"
                        >
                          <div class="info-block-w-icon">
                            <div class="ci-icon">
                              <i class="linecons linecons-shop"></i>
                            </div>
                            <div class="ci-text">
                              <h4>Ecommerce</h4>
                              <p>
                                Mauris neque libero, aliquet vel mollis nec,
                                euismod sed tellus. Mauris convallis dictum elit
                                id volutpat. Vivamus blandit, dolor vitae
                                lacinia maximus, risus velit vehicula odio, a
                                tincidunt turpis turpis tempus ex.
                              </p>
                            </div>
                          </div>
                          <div class="info-block-w-icon">
                            <div class="ci-icon">
                              <i class="linecons linecons-megaphone"></i>
                            </div>
                            <div class="ci-text">
                              <h4>Marketing</h4>
                              <p>
                                Mauris neque libero, aliquet vel mollis nec,
                                euismod sed tellus. Mauris convallis dictum elit
                                id volutpat. Vivamus blandit, dolor vitae
                                lacinia maximus, risus velit vehicula odio, a
                                tincidunt turpis turpis tempus ex.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-sm-12">
                      <div
                        id="col_inner_1a922c7897708c3a2eded034e6e7a555"
                        class="fw-col-inner"
                        data-paddings="0px 0px 0px 0px"
                      >
                        <div class="block-title">
                          <h2>Datos</h2>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-sm-3">
                      <div
                        id="col_inner_831ae7ae8f7189a8a47ec09caf7501f4"
                        class="fw-col-inner"
                        data-paddings="0px 0px 0px 0px"
                      >
                        <div class="lm-info-block gray-default">
                          <i class="linecons linecons-heart"></i>
                          <h4>Clientes</h4>
                          <span class="lm-info-block-value">4</span>
                          <span class="lm-info-block-text"></span>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-3">
                      <div
                        id="col_inner_7f8682d39c5ba46b284a08d3db46c5f6"
                        class="fw-col-inner"
                        data-paddings="0px 0px 0px 0px"
                      >
                        <div class="lm-info-block gray-default">
                          <i class="linecons linecons-clock"></i>
                          <h4>Horas trabajadas</h4>
                          <span class="lm-info-block-value">1,780</span>
                          <span class="lm-info-block-text"></span>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-3">
                      <div
                        id="col_inner_6d4fcdd7dc42e01531a70050562e10e6"
                        class="fw-col-inner"
                        data-paddings="0px 0px 0px 0px"
                      >
                        <div class="lm-info-block gray-default">
                          <i class="linecons linecons-star"></i>
                          <h4>Lineas codificadas</h4>
                          <span class="lm-info-block-value">+90,000</span>
                          <span class="lm-info-block-text"></span>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-3">
                      <div
                        id="col_inner_a719203952a1d6b1e4e8878645682d3c"
                        class="fw-col-inner"
                        data-paddings="0px 0px 0px 0px"
                      >
                        <div class="lm-info-block gray-default">
                          <i class="linecons linecons-cup"></i>
                          <h4>Cafés tomados</h4>
                          <span class="lm-info-block-value">Ya ni sé</span>
                          <span class="lm-info-block-text"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <!-- .entry-content -->
        </article>
        <!-- #post-## -->
      </div>
      <!-- #content -->
    </div>
    <!-- #primary -->
  </div>
  <!-- #main-content -->
</div>
