<div id="main" class="site-main">
  <div id="main-content" class="single-page-content">
    <div id="primary" class="content-area">
      <div class="page-title">
        <h1>Resumen</h1>
        <div class="page-subtitle">
          <h4>+2 Años de experiencia</h4>
        </div>
      </div>

      <div
        id="content"
        class="page-content site-content single-post"
        role="main"
      >
        <article
          id="post-171"
          class="post-171 page type-page status-publish hentry"
        >
          <div class="entry-content">
            <div class="fw-page-builder-content">
              <section class="fw-main-row">
                <div class="fw-container">
                  <div class="row">
                    <div class="col-xs-12 col-sm-6">
                      <div
                        id="col_inner_c963db795ac67e0d3fa13f175cb0eb93"
                        class="fw-col-inner"
                        data-paddings="0px 0px 0px 0px"
                      >
                        <div class="block-title">
                          <h2>Educación</h2>
                        </div>
                        <div
                          id="timeline-62eaefee1cd1f"
                          class="timeline clearfix"
                        >
                          <div
                            *ngFor="let item of dataEducation"
                            class="timeline-item clearfix"
                          >
                            <h5 class="item-period">{{ item.period }}</h5>
                            <span class="item-company">{{ item.company }}</span>
                            <h4 class="item-title">{{ item.jobTitle }}</h4>
                            <div class="text">
                              {{ item.description }}
                            </div>
                            <a href="{{ item.link }}" target="_blank"
                              >Visitar</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                      <div
                        id="col_inner_e5046c43b19e9d4f1d6ce16928d0899a"
                        class="fw-col-inner"
                        data-paddings="0px 0px 0px 0px"
                      >
                        <div class="block-title">
                          <h2>Experiencia</h2>
                        </div>

                        <div
                          id="timeline-62eaefee1ce95"
                          class="timeline clearfix"
                        >
                          <div
                            *ngFor="let item of dataExperience"
                            class="timeline-item clearfix"
                          >
                            <h5 class="item-period current">
                              {{ item.period }}
                            </h5>
                            <span class="item-company">{{ item.company }}</span>
                            <h4 class="item-title">{{ item.jobTitle }}</h4>
                            <div class="text">
                              {{ item.description }}
                            </div>
                            <a href="{{ item.link }}" target="_blank"
                              >Visitar</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-sm-12">
                      <div
                        id="col_inner_7efa1d6a3a831b6e900bde5f116a3c77"
                        class="fw-col-inner"
                        data-paddings="0px 0px 0px 0px"
                      >
                        <div
                          class="fw-divider-space"
                          style="padding-top: 20px"
                        ></div>

                        <div class="block-title">
                          <h2>Certificaciones</h2>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div
                      *ngFor="let item of dataComplementaryEducation"
                      class="col-xs-12 col-sm-6"
                    >
                      <div
                        id="col_inner_c62f8085404399e3c77be1f4a2121831"
                        class="fw-col-inner"
                        data-paddings="0px 0px 0px 0px"
                      >
                        <a
                          href="{{item.image}}"
                          class="lightbox"
                        >
                          <div class="certificate-item clearfix">
                            <div class="certi-logo">
                              <img
                                src="{{item.image}}"
                                alt="logo"
                              />
                            </div>
                            <div class="certi-content">
                              <div class="certi-title">
                                <h4>{{item.courseName}}</h4>
                              </div>
                              <div class="certi-id">
                                <span>{{item.teacher}} | {{item.platform}} | {{item.numberHours}}</span>
                              </div>
                              <div class="certi-date">
                                <span>{{item.date}}</span>
                              </div>
                              <div class="certi-company">
                                <span></span>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-sm-12">
                      <div
                        id="col_inner_f72d1ecce355e50c601f1c2621706588"
                        class="fw-col-inner"
                        data-paddings="0px 0px 0px 0px"
                      >
                        <div
                          class="fw-divider-space"
                          style="padding-top: 40px"
                        ></div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-sm-6">
                      <div
                        id="col_inner_0114d1c01f29d709d04fc0ab59c54025"
                        class="fw-col-inner"
                        data-paddings="0px 0px 0px 0px"
                      >
                        <div class="block-title">
                          <h2>Skills</h2>
                        </div>

                        <div
                          id="skills-62eaefee218da"
                          class="skills-info skills-first-style"
                        >
                          <div class="clearfix">
                            <h4>UI/UX Design</h4>
                            <div class="skill-value">95%</div>
                          </div>
                          <div
                            id="skill-ec5d275ae4c1138a0547f7b8351f6db4"
                            data-value="95"
                            data-color="#007ced"
                            class="skill-container"
                          >
                            <div class="skill-percentage"></div>
                          </div>
                          <div class="clearfix">
                            <h4>Print Design</h4>
                            <div class="skill-value">75%</div>
                          </div>
                          <div
                            id="skill-98e7ecbfde121ce2f3c0c01ad34ea6aa"
                            data-value="75"
                            data-color="#007ced"
                            class="skill-container"
                          >
                            <div class="skill-percentage"></div>
                          </div>
                          <div class="clearfix">
                            <h4>Graphic Design</h4>
                            <div class="skill-value">85%</div>
                          </div>
                          <div
                            id="skill-47d1f4a023616123ba6cd1638dfff80a"
                            data-value="85"
                            data-color="#007ced"
                            class="skill-container"
                          >
                            <div class="skill-percentage"></div>
                          </div>
                          <div class="clearfix">
                            <h4>Logo Design</h4>
                            <div class="skill-value">90%</div>
                          </div>
                          <div
                            id="skill-e8f3285d4713f2b9f41007b5de838752"
                            data-value="90"
                            data-color="#007ced"
                            class="skill-container"
                          >
                            <div class="skill-percentage"></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                      <div
                        id="col_inner_796332a970e05ad435677b3cb493b49a"
                        class="fw-col-inner"
                        data-paddings="0px 0px 0px 0px"
                      >
                        <div class="block-title">
                          <h2>Skills en lenguajes</h2>
                        </div>

                        <div
                          id="skills-62eaefee21a62"
                          class="skills-info skills-first-style"
                        >
                          <div class="clearfix">
                            <h4>HTML / CSS</h4>
                            <div class="skill-value">100%</div>
                          </div>
                          <div
                            id="skill-e483ff67e9dce61b63f184b08a40e82d"
                            data-value="100"
                            data-color="#007ced"
                            class="skill-container"
                          >
                            <div class="skill-percentage"></div>
                          </div>
                          <div class="clearfix">
                            <h4>PHP</h4>
                            <div class="skill-value">90%</div>
                          </div>
                          <div
                            id="skill-3e2329f0c9b69868e023b19ec23c82ab"
                            data-value="90"
                            data-color="#007ced"
                            class="skill-container"
                          >
                            <div class="skill-percentage"></div>
                          </div>
                          <div class="clearfix">
                            <h4>JavaScript</h4>
                            <div class="skill-value">90%</div>
                          </div>
                          <div
                            id="skill-7f9f771b32e3b1b5256069a455f3e6ab"
                            data-value="90"
                            data-color="#007ced"
                            class="skill-container"
                          >
                            <div class="skill-percentage"></div>
                          </div>
                          <div class="clearfix">
                            <h4>Smarty / Twig</h4>
                            <div class="skill-value">85%</div>
                          </div>
                          <div
                            id="skill-b4113e66cca1abbf19ee2966e729aef6"
                            data-value="85"
                            data-color="#007ced"
                            class="skill-container"
                          >
                            <div class="skill-percentage"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <!-- .entry-content -->
        </article>
        <!-- #post-## -->
      </div>
      <!-- #content -->
    </div>
    <!-- #primary -->
  </div>
  <!-- #main-content -->
</div>
