<header id="site_header" class="header">
  <div class="header-content clearfix">
    <!-- Text Logo -->
    <div class="text-logo">
      <a routerLink="home">
        <div class="logo-symbol">O</div>
        <div class="logo-text">Oscar <span>Andrés</span></div>
      </a>
    </div>
    <!-- /Text Logo -->

    <!-- Navigation -->
    <div class="site-nav mobile-menu-hide">
      <ul id="menu-classic-menu" class="leven-classic-menu site-main-menu">
        <li
          *ngFor="let item of menuData"
          class="menu-item menu-item-type-post_type menu-item-object-page"
        >
          <a routerLinkActive="current-menu-item" routerLink="{{ item.link }}"
            >{{ item.title }}
          </a>
        </li>
      </ul>
    </div>

    <a class="menu-toggle mobile-visible">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</header>
